<%= render "shared/header" %>

<div class='main'>

<!-- タブ -->
<ul class="tab-list">
  <li class="tab-list-item active">読書投稿（既読）</li>
  <li class="tab-list-item">読書投稿（未読）</li>
  <li class="tab-list-item">古本出品</li>
</ul>

<!-- タブコンテンツ 　-->
<div class="tab-contents">
  <div class="tab-contents-item show">
    <div class="book-bar">
      <%= @nickname %>さんの読書投稿一覧（既読）
      <ul class='book-lists'>
        <% @books_read.each do |book| %>
        <li class='list'>
          <%= link_to book_path(book.id) do %>
          <div class='book-img-content'>
            <%= image_tag book.image_url,  class: "book-img" %>
          </div>
          <div class='book-info'>
            <h3 class='book-name'>
              <%= book.title %>
            </h3>
          </div>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="tab-contents-item">
    <div class="book-bar">
      <%= @nickname %>さんの読書投稿一覧（未読）
      <ul class='book-lists'>
        <% @books_unread.each do |book| %>
        <li class='list'>
          <%= link_to book_path(book.id) do %>
          <div class='book-img-content'>
            <%= image_tag book.image_url,  class: "book-img" %>
          </div>
          <div class='book-info'>
            <h3 class='book-name'>
              <%= book.title %>
            </h3>
          </div>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="tab-contents-item">
    <div class="book-bar">
      <%= @nickname %>さんの古本出品一覧
          <ul class='book-lists'>
            <% @old_books.each do |old_book| %>
        <li class='list'>
          <%= link_to old_book_path(old_book.id) do %>
          <div class='book-img-content'>
            <%= image_tag old_book.image.variant(resize: '400x400'), class: "book-img" %>
            <%if old_book.order.present?%>
            <div class='sold-out'>
              <span>SOLD OUT</span>
            </div>
            <%end%>
          </div>
          <div class='book-info'>
            <h3 class='book-name'>
              <%= old_book.old_title %>
            </h3>
            <h3 class='book-price'>
              <%= old_book.price %>円<br>
            </h3>
          </div>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>  
</div>

</div>
<%= render "shared/footer" %>