
<%# <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
<% if user_signed_in? %>
  <% if book.favorited?(current_user) %>
  <%= link_to book_favorites_path(book), method: :delete, remote: true do %>
    ♥<%= book.favorites.count %>いいね
    <% end %>
  <% else %>
    <%= link_to book_favorites_path(book), method: :post, remote: true do %>
    ♡<%= book.favorites.count %>いいね
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_session_path do %>
    ♡<%= book.favorites.count %>いいね
  <% end %>
<% end %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
    </form>
  </div>
</div>