<%= render "shared/header" %>

<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      bookdockが読書を変える
    </h2>
    <p class='service-explain'>
      読書記録はもちろん、積読本をかんたんに出品・購入できる
    </p>
  </div>

  <%# 読書一覧 %>
  <div class='book-contents'>
    <h2 class='title'>本日のおすすめ</h2>
    <div class="subtitle" >
      読書レビュー
    </div>
    <ul class='book-lists'>
      <% @books.each do |book| %>
      <li class='list'>
        <%= link_to book_path(book.id) do %>
        <div class='book-img-content'>
          <%= image_tag book.image_url,  class: "book-img" %>
        </div>
        <div class='book-info'>
          <h3 class='book-name'>
            <%= book.title %>
          </h3>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <%# /読書一覧 %>

  <%# /古本一覧 %>
  <div class='book-contents'>
    <h2 class='title'>本日のおすすめ</h2>
    <div class="subtitle" >
      古本一覧
    </div>
    <ul class='book-lists'>
          <% @old_books.each do |old_book| %>
      <li class='list'>
        <%= link_to old_book_path(old_book.id) do %>
        <div class='book-img-content'>
          <%= image_tag old_book.image.variant(resize: '400x400'), class: "book-img" %>
        </div>
        <div class='book-info'>
          <h3 class='book-name'>
            <%= old_book.old_title %>
          </h3>
        </div>
        <div class='book-info'>
          <h3 class='book-name'>
            <%= old_book.price %>
          </h3>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <%# /古本一覧 %>

  <div class='ad-contents'>
    <h2 class='service-title'>
      読書か、出品か
    </h2>
    <p class='service-explain'>
      いつかのあの本に出会えるかもしれません
    </p>
  </div>

</div>
<%= render "shared/footer" %>