<%= render "shared/header" %>

<%# 読書の概要 %>
<div class="item-show">
  <div class="item-box">    
    <div class="item-img-content">
      <%= link_to (image_tag(@book.image_url)), @book.item_url %>
    </div>
    <div class="item-price-box">
      <span class="item-postage">
        <h2>タイトル</h2>
      </span>
      <%= @book.title %>
      <span class="item-postage">
        <h2>ISBN</h2>
      </span>
      <%= @book.isbn %>
      <span class="item-postage">
        <h2>著者</h2>
      </span>
      <%= @book.author %>
      <span class="item-postage">
        <h2>出版社</h2>
      </span>
      <%= @book.publisher %>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @book.user_id %>
        <%= link_to "レビューの編集", edit_book_path(@book), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", book_path(@book), method: :delete, class:"item-destroy" %>
      <% end %>
    <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">ユーザー</th>
          <td class="detail-value"><%= @book.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">読書状況</th>
          <td class="detail-value"><%= @book.read_status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">レビュー</th>
          <td class="detail-value"><%= @book.book_review %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id = "favorite_btn_<%= @book.id %>">
  <%= render "shared/favorite" , book: @book%>
  <%# /読書の概要 %>

<%= render "shared/footer" %>
